/* Colors:
skin: #fcecdd;
peach: #ffc288;
orange: #fea82f;
heavy oj: #ff6701
*/

html {
  font-size: 16px;
  background: black;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: 0;
}
.bck-container {
  background: linear-gradient(
    to top right,
    black,
    black,
    black,
    black,
    rgb(59, 59, 59),
    rgb(158, 158, 158)
  );
  height: 100vh;
}
.hello {
  font-size: 7rem;
  font-weight: 900;
  font-family: monospace;
  text-align: center;
  padding-top: 20rem;
  color: #ff6701;
  animation: jackInTheBox 1s;
  --animate-repeat: 2;
  cursor: pointer;
}
.info {
  text-align: center;
  width: 100vw;
}
